@font-face {
  font-family: 'Futura PT Medium';
  src: url('../fonts/subset-FuturaPT-Medium.eot');
  src: url('../fonts/subset-FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-FuturaPT-Medium.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Medium.woff') format('woff'),
  url('../fonts/subset-FuturaPT-Medium.ttf') format('truetype'),
  url('../fonts/subset-FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/subset-FuturaPT-Book.eot');
  src: url('../fonts/subset-FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-FuturaPT-Book.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Book.woff') format('woff'),
  url('../fonts/subset-FuturaPT-Book.ttf') format('truetype'),
  url('../fonts/subset-FuturaPT-Book.svg#FuturaPT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url('../fonts/subset-FuturaPT-Heavy.eot');
  src: url('../fonts/subset-FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-FuturaPT-Heavy.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'),
  url('../fonts/subset-FuturaPT-Heavy.ttf') format('truetype'),
  url('../fonts/subset-FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Light';
  src: url('../fonts/subset-FuturaPT-Light.eot');
  src: url('subset-FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-FuturaPT-Light.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Light.woff') format('woff'),
  url('../fonts/subset-FuturaPT-Light.ttf') format('truetype'),
  url('../fonts/subset-FuturaPT-Light.svg#FuturaPT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}