@media (max-width: 1800px) {
  .issues,
  .benefits-section,
  .about-section,
  .tab-controls,
  .programs,
  .program-section {
    padding-left: 9%;
    padding-right: 9%;
  }
  .promo {
    &-holder {
      padding-left: 11%;
      padding-right: 11%;
    }
    &.city {
      height: 68vh;
    }
  }
  .issues {
    .list-item {
      padding-right: 40px;
      width: calc(30% - 40px);
      margin-left: 40px;
    }
  }
  .cities-slider {
    .slick-prev {
      left: calc(150px + 14px);
    }
    .slick-next {
      right: calc(150px + 14px);
    }
  }
  .benefits-list {
    padding-left: 40px;
    padding-right: 40px;
    margin-right: -40px;
    .item {
      width: calc(29.9%);
      padding-right: 40px;
      margin-right: 40px;
    }
  }
  .benefits-container {
    .benefits-list {
      .item {
        padding-right: 40px;
      }
    }
  }
  .contacts-map {
    margin-left: -11%;
    margin-right: -11%;
  }
}
@media (max-width: 1600px) {
  .issues,
  .benefits-section,
  .about-section,
  .tab-controls,
  .programs,
  .program-section {
    padding-left: 7%;
    padding-right: 7%;
  }
  .promo {
    &-holder {
      padding-left: 9%;
      padding-right: 9%;
    }
  }
  .partners-block {
    .item {
      margin-right: 30px;
      width: calc(50% - 30px);
    }
  }
  .contacts {
    .form-box {
      align-items: flex-end;
    }
    .input-box {
      flex-wrap: wrap;
    }
    .input-holder {
      width: 48%;
    }
  }
  .contacts-map {
    margin-left: -8.2%;
    margin-right: -8.2%;
  }
}
@media (max-width: 1500px) {
  .promo {
    &-holder {
      padding: 40px 7%;
    }
    &.city {
      .title-h1 {
        font-size: 90px;
        line-height: 96px;
      }
      height: 59vh;
    }
  }
  .title-h1 {
    font-size: 90px;
    line-height: 94px;
  }
  .nav-list {
    right: 100px;
  }
  .issues,
  .benefits-section,
  .about-section,
  .tab-controls,
  .programs,
  .program-section {
    padding-left: 5%;
    padding-right: 5%;
  }
  .info-section {
    .point-scroll {
      display: none;
      position: static !important;
    }
  }
  .subs-section {
    max-width: calc(1150px + 200px);
    padding: 30px 100px 105px;
  }
  .contacts-map {
    margin-left: -5.6%;
    margin-right: -5.6%;
  }
  .program-section {
    padding-top: 100px;
  }
  .org-box {
    .brands-list {
      li {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  .btn-up {
    left: auto;
    right: 13px;
  }
}
@media (max-width: 1365px) {
  .promo {
    &.city {
      height: 55vh;
      .title-h1 {
        font-size: 70px;
        line-height: 80px;
      }
    }
  }
  .title-h1 {
    font-size: 70px;
    line-height: 80px;
    &:before {
      width: 70px;
      height: 7px;
    }
  }
  .title-holder {
    padding: 0 0 50px;
  }
  .nav-list {
    right: 80px;
  }
  .section-title {
    font-size: 40px;
    line-height: 50px;
  }
  .issues {
    .list-item {
      margin-left: 0;
      width: 32%;
    }
  }
  .tab-controls {
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 55px;
    a {
      margin: 0 5px;
      font-size: 28px;
      &.active {
        clear: both;
        width: 100%;
        margin-left: 50%;
        white-space: nowrap;
        transform: translate(-50%, 0);
        margin-right: 50%;
        margin-bottom: 22px;
        font-size: 45px;
      }
    }
  }
  .form-box {
    flex-wrap: wrap;
    justify-content: space-between;
    .btn-box {
      //width: 100%;
      margin: 70px auto 0;
    }
  }
  .subs-section {
    .input-box {
      padding: 0 0 10px;
    }
    .input-holder {
      width: calc(100%/3 - 15px);
    }
  }
  .benefits-section {
    padding-top: 70px;
  }
  .benefits-list {
    padding: 54px 0 40px;
    .item {
      width: calc(100%/3);
      padding-right: 60px;
      margin-right: 0;
    }
  }
  .cities-slider {
    .item {
      height: 300px;
    }
  }
  .program-contacts {
    flex-direction: column;
    .email {
      margin: 20px 0 0;
    }
    .phone {
      margin: 20px 0 0;
    }
  }
  .org-box {
    .brands-list {
      li {
        width: 200px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  .date-row {
    font-size: 40px;
    line-height: 50px;
  }
  .program-topic {
    .topic {
      font-size: 35px;
      line-height: 40px;
      &-title {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
  .program-box {
    padding: 0 0 80px;
  }
  .table {
    border-spacing: 5px;
    &-holder {
      margin: 0;
    }
    td {
      &:first-child {
        font-size: 26px;
        width: 130px;
      }
    }
  }
  .event {
    padding: 0 0 0 25px;
    &-name {
      font-size: 28px;
      line-height: 36px;
    }
    &-note {
      font-size: 20px;
      line-height: 26px;
    }
    .theses-link {
      font-size: 18px;
      line-height: 22px;
      &:after {
        top: 10px;
      }
    }
    .theses {
      li {
        font-size: 16px;
      }
    }
  }
  .registration-form {
    padding: 35px 0 0;
  }
}
@media (max-width: 1279px) {
  .promo {
    &.city {
      height: 44vh;
    }
  }
  .partners-block {
    .item {
      margin-right: 0;
      width: 50%;
      padding-right: 30px;
    }
  }
  .info-section {
    padding-left: 5%;
    padding-right: 5%;
  }
  .counter-block {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .count {
      font-size: 185px;
      transform: translate(-100%, -50%);
      left: calc(50% + 80px);
      top: 65px;
    }
    .btn-box {
      margin-left: 0;
    }
  }
  .cities-slider {
    .item {
      height: 215px;
      .txt {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }
  .benefits {
    &-box {
      padding-left: 0;
    }
    &-holder {
      width: calc(100% - 330px);
    }
  }
  .webinars-items {
    .item {
      font-size: 18px;
      line-height: 26px;
      &-descr {
        padding: 24px 35px 35px;
      }
      .date {
        font-size: 20px;
        line-height: 30px;
      }
      &-title {
        font-size: 24px;
        line-height: 30px;
      }
    }
    .img {
      height: 250px;
    }
    .all-link {
      font-size: 15px;
    }
  }
  .nav-bullets {
    right: 15px;
  }
  .partners-block {
    .item {
      &-title {
        font-size: 26px;
        line-height: 36px;
      }
      .img {
        width: 140px;
        height: 140px;
      }
      .contact-info {
        width: calc(100% - 140px);
        padding: 0 0 0 20px;
        font-size: 18px;
        line-height: 26px;
      }
      .name {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 20px;
      }
    }
  }
  .contacts-title {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1023px) {
  .issues,
  .benefits-section,
  .about-section {
    padding-left: 125px;
    padding-right: 125px;
  }
  .programs,
  .program-section {
    padding-left: 75px;
    padding-right: 75px;
  }
  .nav-list {
    right: 20px;
  }
  .nav-bullets {
    display: none;
  }
  .title {
    &-h1 {
      line-height: 72px;
    }
    &-holder {
      padding: 0 0 65px;
    }
  }
  .promo {
    height: 575px;
    background: url('../img/bg-01.jpg') no-repeat 50% 0;
    background-size: cover;
    &-holder {
      padding: 50px 125px;
      position: static;
    }
    .video-block {
      display: none;
    }
    &.city {
      height: 284px;
      .img {
        display: block;
      }
      .promo-holder {
        position: absolute;
      }
      .work-shop-btn {
        right: 20px;
      }
    }
    .img {
      display: none;
    }
  }
  body {
    background: none;
  }
  .point02 {
    display: none;
  }
  .issues {
    padding-bottom: 40px;
    &:before {
      display: none;
    }
    .list-item {
      display: block;
      width: 100%;
      &+.list-item {
        margin-top: 40px;
      }
    }
  }
  .note-text {
    padding-left: 0;
    max-width: 700px;
    margin: 0 0 125px;
  }
  .taking-part {
    margin: 0 0 30px;
  }
  .tab-controls {
    padding-left: 50px;
    padding-right: 50px;
  }
  .cities-slider {
    .item {
      margin: 10px 9px;
      img {
        max-width: 100%;
      }
    }
    .slick-prev {
      left: calc(35px + 18px);
    }
    .slick-next {
      right: calc(35px + 18px);
    }
    .item {
      .txt {
        font-size: 32px;
      }
    }
  }
  .subs-section {
    padding-left: 50px;
    padding-right: 50px;
  }
  .benefits {
    &-list {
      margin-right: 0;
      .benefit-title {
        margin: 0 0 20px;
      }
      .item {
        display: block;
        width: 100%;
        padding-right: 0;
        &+.item {
          margin-top: 30px;
        }
      }
    }
    &-box {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-holder {
      width: 100%;
      margin-bottom: 80px;
    }
  }
  .video-slider {
    .slick-prev,
    .slick-next{
      display: none;
    }
  }
  .info-section {
    &:after {
      display: none;
    }
  }
  .webinars {
    top: -412px;
    margin-bottom: -285px;
    &-items {
      flex-wrap: wrap;
      .item {
        width: 100%;
        font-size: 22px;
        line-height: 32px;
        .date {
          font-size: 22px;
          line-height: 35px;
        }
        &-title {
          font-size: 29px;
          line-height: 40px;
        }
        &+.item {
          margin-top: 85px;
        }
      }
      .img {
        height: 357px;
      }
      .all-link {
        font-size: 18px;
      }
    }
  }
  .about-section {
    padding-left: 75px;
    padding-right: 75px;
    background-image: url('../img/bg-03.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .partners {
    &-block {
      flex-wrap: wrap;
      padding: 35px 0 115px;
      .item {
        width: 100%;
        margin-right: 0;
        padding: 0;
        &:first-child {
          padding-top: 0;
        }
        &-title {
          font-size: 35px;
          line-height: 40px;
        }
        .img {
          width: 207px;
          height: 207px;
        }
        .contact-info {
          width: calc(100% - 207px);
          padding: 0 0 0 40px;
          font-size: 24px;
          line-height: 32px;
        }
        .name {
          font-size: 29px;
          line-height: 35px;
          margin: 0 0 35px;
        }
        &+.item {
          margin-top: 72px;
        }
      }
    }
  }
  .contacts-title {
    font-size: 35px;
    line-height: 40px;
  }
  .event {
    &-img {
      display: none;
    }
  }
  .contacts-map {
    margin-left: -75px;
    margin-right: -75px;
  }
  .program-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn + .btn {
      margin: 30px 0 0;
    }
  }
}
@media (max-width: 767px) {
  .nav-list {
    a {
      font-size: 14px;
      line-height: 18px;
      margin: 0 5px 0 0;
    }
  }
  .title {
    &-holder {
      padding: 0 0 125px;
      text-align: left;
    }
    &-h1 {
      font-size: 59px;
      line-height: 60px;
      padding: 11px 0 0;
      margin: 0 0 7px;
      &:before {
        height: 6px;
        width: 59px;
        left: 0;
      }
    }
    &-note {
      font-size: 21px;
      line-height: 35px;
    }
  }
  .btn {
    height: 58px;
    font-size: 26px;
    padding: 11px 56px;
  }
  .promo {
    height: 635px;
    text-align: center;
    background-position: 80% 0;
    &-holder {
      padding-left: 40px;
      padding-right: 40px;
    }
    &.city {
      margin-bottom: 60px;
      min-height: 200px;
      height: 30vh;
      .title-h1 {
        font-size: 48px;
        line-height: 58px;
      }
      .work-shop-btn {
        bottom: -45px;
        left: 40px;
        right: auto;
        .btn {
          font-size: 26px;
        }
      }
    }
  }
  .point {
    width: 18px;
    height: 18px;
    bottom: -9px;
  }
  .section {
    &-title {
      font-size: 25px;
      line-height: 32px;
    }
  }
  .issues,
  .benefits-section,
  .about-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .issues {
    padding-top: 94px;
    padding-bottom: 7px;
    .list {
      padding: 16px 0 50px;
      &-item {
        font-size: 18px;
        line-height: 22px;
        padding-right: 0;
        &+.list-item {
          margin-top: 34px;
        }
      }
    }
  }
  .note-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 93px;
    .txt {
      text-align: left;
      margin: 0 0 42px;
    }
  }
  .taking-part {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    .section-title {
      margin: 0 0 14px;
    }
    .free-text {
      font-size: 18px;
      line-height: 25px;
      margin: 0;
    }
  }
  .tab-controls {
    padding: 5px 40px 22px 40px;
    justify-content: flex-start;
    align-items: center;
    a {
      font-size: 18px;
      line-height: 30px;
      margin: 0 15px 0 0;
      &.active {
        font-size: 27px;
        line-height: 30px;
        width: auto;
        margin-left: 0;
        margin-right: 15px;
        margin-bottom: 5px;
        transform: none;
        .point {
          margin: 5px 18px 0 0;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  .cities {
    margin: 0 0 10px;
    &-slider {
      .item {
        height: 100%;
        .txt {
          font-size: 26px;
          line-height: 26px;
        }
      }
      .slick-prev {
        left: 25px;
      }
      .slick-next {
        right: 25px;
      }
    }
  }
  .subs {
    &-section {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 120px;
    }
    &-title {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .slick-slider {
    padding: 0 0 30px;
  }
  .input {
    font-size: 18px;
    padding: 5px 0;
    height: 40px;
    &-box {
      flex-wrap: wrap;
      .input-holder {
        width: 100%;
      }
    }
    &-holder {
      width: 100%;
      &+.input-holder {
        margin-top: 27px;
      }
    }
  }
  .form-box {
    .btn-box {
      margin-top: 60px;
    }
  }
  .benefits {
    &-section {
      padding-top: 34px;
      padding-bottom: 130px;
    }
    &-list {
      padding-top: 15px;
      .item {
        font-size: 18px;
        line-height: 25px;
        padding-top: 18px;
        margin-bottom: 52px;
        &:before {
          width: 65px;
          height: 8px;
        }
      }
      .benefit-title {
        font-size: 22px;
        line-height: 40px;
        margin: 0 0 3px;
      }
    }
    &-box {
      &-title {
        font-size: 22px;
        line-height: 30px;
        margin: 0;
      }
    }
    &-items {
      .benefit-item {
        font-size: 18px;
        line-height: 25px;
        padding: 0 0 0 13px;
        &:before {
          font-size: 25px;
          top: -1px;
        }
      }
    }
    &-holder {
      margin-bottom: 65px;
    }
  }
  .slick-dots {
    li {
      width: 8px;
      height: 8px;
      margin: 0 7px;
      button {
        width: 8px;
        height: 8px;
        &:before {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
  .info-section {
    padding-bottom: 495px;
    padding-left: 40px;
    padding-right: 40px;
    .slider-title {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .counter-block {
    padding-top: 50px;
    .count {
      font-size: 148px;
      transform: translate(0, -50%);
      left: -15px;
    }
    .text-box {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 67px;
      .txt {
        margin: 0;
      }
      .strong {
        font-family: $ftFuturaPTMedium;
      }
    }
  }
  .webinars {
    margin-bottom: -339px;
    &-items {
      padding-top: 0;
      width: auto;
      margin: 0 -40px;
      .img {
        height: auto;
      }
      .item {
        font-size: 18px;
        line-height: 25px;
        &-descr {
          padding: 12px 40px 17px;
          margin: 0 0 5px;
        }
        .date {
          font-size: 18px;
          line-height: 25px;
          margin: 0 0 9px;
        }
        &-title {
          font-size: 22px;
          line-height: 24px;
          margin: 0 0 6px;
        }
        &+.item {
          margin-top: 55px;
        }
      }
      .text {
        margin: 0 0 5px;
      }
      .more {
        font-size: 14px;
        line-height: 18px;
      }
      .link {
        margin-right: 40px;
      }
    }
  }
  .partners-block {
    padding: 0 0 60px;
    .item {
      &-title {
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 30px;
      }
      .img {
        width: 172px;
        height: 172px;
        margin: 0;
      }
      .contact {
        &-info {
          padding: 0 0 0 20px;
          font-size: 18px;
          line-height: 25px;
        }
        &-box {
          margin: 0 -40px;
        }
      }
      .name {
        font-size: 22px;
        line-height: 27px;
      }
      &+.item {
        margin-top: 64px;
      }
    }
  }
  .contacts {
    padding: 0 0 75px;
    &-title {
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 35px;
    }
    .btn-box {
      .btn {
        padding: 11px 56px;
      }
    }
    .input {
      &-holder {
        width: 100%;
      }
    }
  }
  .footer {
    text-align: center;
  }
  .date-row {
    font-size: 26px;
    line-height: 36px;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .icon-date {
    vertical-align: middle;
  }
  .icon-address {
    min-width: 25px;
  }
  .icon-email {
    min-width: 32px;
  }
  .icon-phone {
    min-width: 20px;
  }
  .program-contacts {
    font-size: 18px;
    line-height: 22px;
    .address,
    .email,
    .phone {
      display: flex;
      align-items: center;
    }
  }
  .programs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .program-section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .programs {
    padding-bottom: 80px;
  }
  .program {
    &-section {
      padding-top: 50px;
    }
    &-topic {
      margin: 0 0 60px;
      .topic {
        font-size: 24px;
        line-height: 28px;
        &-title {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
  }
  .table {
    td {
      &:first-child {
        font-size: 18px;
        line-height: 1;
        width: 80px;
      }
    }
  }
  .event {
    padding: 0;
    &-info {
      padding: 15px 20px;
      width: 100%;
    }
    .time {
      font-size: 18px;
      line-height: 1;
    }
    &-name {
      font-size: 22px;
      line-height: 26px;
    }
    &-note {
      font-size: 18px;
      line-height: 22px;
    }
    .theses-link {
      font-size: 16px;
      &:after {
        top: 9px;
      }
    }
  }
  .registration-form {
    padding: 0;
  }
  .form-box {
    .input-row {
      flex-wrap: wrap;
      &+.input-row {
        padding-top: 27px;
      }
    }
    .col-2, .col-3 {
      .input-holder {
        width: 100%;
      }
    }
  }
  .registration-section {
    margin: 0 0 100px;
  }
  .benefits-container {
    padding: 60px 0 0;
  }
  .contacts-section {
    .section-title {
      margin: 0 0 29px;
    }
  }
  .contactinfo {
    position: static;
    margin: 0 0 30px;
  }
  .contacts-map {
    margin-left: -40px;
    margin-right: -40px;
  }
  .map {
    height: 350px;
  }
  .program-btns {
    .btn {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .registration-form {
    .btn {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  .btn-up {
    bottom: 40px;
    right: 0;
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 374px) {
  .title-h1 {
    font-size: 51px;
  }
  .promo {
    &-holder {
      padding-left: 25px;
      padding-right: 25px;
    }
    &.city {
      min-height: 150px;
      margin-bottom: 45px;
      .title-holder {
        margin-top: 25px;
      }
      .title-h1 {
        font-size: 30px;
        line-height: 38px;
      }
      .work-shop-btn {
        left: 0;
        right: 0;
      }
    }
  }
  .btn {
    padding: 11px 35px;
  }
  .tab-controls {
    padding-left: 13px;
    padding-right: 13px;
  }
  .cities-slider {
    .item {
      .txt {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .partners-block {
    .item {
      .img {
        width: 120px;
        height: 120px;
        margin: 5px 0 0;
      }
      .contact-info {
        width: calc(100% - 120px);
        padding: 0 15px;
      }
    }
  }
  .counter-block {
    .count {
      font-size: 133px;
    }
  }
  .video-slider {
    margin-left: -40px;
    margin-right: -40px;
    .slick-prev {
      left: 25px;
    }
    .slick-next {
      right: 25px;
    }
  }
  .contactinfo {
    width: 100%;
  }
  .table-holder {
    margin-left: -25px;
    margin-right: -25px;
  }
  .program-btns {
    .btn {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .program-contacts {
    margin: 0 0 50px;
  }
}
@media (pointer: coarse) {
  .nav-list li a:hover {
    background-color: #01275b;
  }
  .nav-list li.active a {
    background-color: #073b71;
  }
}

/* rating */
.review-form .rating-row {
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px;
}
.review-form .rating-title {
  display: inline-block;
  vertical-align: top;
  font: 16px/20px 'clear_sansbold', sans-serif;
  margin: 0 15px 0 0;
}
.review-form .rating {
  padding: 4px 0;
  position: relative;
  height: 44px;
}
.review-form .rating-visual {
  display: flex;
  flex-direction: row-reverse;
}
.review-form .rating input.rating__check {
  display: none;
}
.review-form .rating .rating__star {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 10px;
  background: #cdcfd8;
  border-radius: 5px;
  margin: 3px 5px 3px 0;
  cursor: pointer;
}
.review-form .rating .rating__star:before {
  content: '';
  display: block;
  width: 24px;
  height: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: all .3s;
}
.review-form .rating-visual .rating__star:hover:before,
.review-form .rating-visual .rating__star:hover ~ .rating__star:before,
.review-form .rating-visual .rating__check:checked ~ .rating__star:before {
  background: #1d4698;
  opacity: 1;
}
.review-form .rating-visual .rating__star:hover > .rating-name,
.review-form .rating-visual .rating__check:checked + .rating__star > .rating-name {
  opacity: 1;
}
.review-form .rating-visual .rating__star:hover > .rating-name {
  z-index: 1;
}
.rating .rating-name {
  background: #ebebeb;
  position: absolute;
  font: 14px/18px 'clear_sansregular', sans-serif;
  color: rgba(99,113,136,.6);
  left: 0;
  right: 0;
  top: 21px;
  opacity: 0;
  pointer-events: none;
}