// VARIABLES
$ftUbuntu: 'Ubuntu', sans-serif;
$ftRoboto: 'Roboto', sans-serif;
$ftFuturaPTMedium: 'Futura PT Medium', sans-serif;
$ftFuturaPTBook: 'Futura PT Book', sans-serif;
$ftFuturaPTHeavy: 'Futura PT Heavy', sans-serif;
$ftFuturaPTLight: 'Futura PT Light', sans-serif;
$fwThin: 100;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwBold: 700;
$fwBlack: 900;

// Colors
$colorBlack: #000;
$colorBtn: #c31a54;
$colorHoverBtn: #a41747;
$colorWhite: #fff;
$colorFont: #404040;
$colorGrey: #69727a;