$icons: (
        sprite: (width: 49px, height: 358px, pngPath: '../img/svg-sprite.png', svgPath: '../img/svg-sprite.svg'),
ic-address: (width: 25px, height: 37px, backgroundX: 0px, backgroundY: 0px),
ic-arrow-up: (width: 16px, height: 19px, backgroundX: 0px, backgroundY: -47px),
ic-break: (width: 34px, height: 48px, backgroundX: 0px, backgroundY: -76px),
ic-date: (width: 25px, height: 30px, backgroundX: 0px, backgroundY: -134px),
ic-email: (width: 32px, height: 25px, backgroundX: 0px, backgroundY: -174px),
ic-greeting: (width: 39px, height: 46px, backgroundX: 0px, backgroundY: -209px),
ic-phone: (width: 20px, height: 34px, backgroundX: 0px, backgroundY: -265px),
ic-reg: (width: 32px, height: 39px, backgroundX: 0px, backgroundY: -309px),
);